#projects {
  &.container {
    padding-top: 80px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .projects-header {
    margin-block: 0 56px;
    text-align: center;
  }

  & .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-columns: auto;
    gap: 1.5rem;

    & .project {
      background-color: var(--base-gray-300);
      border-radius: 0.75rem;
      padding: 0.875rem;
      text-align: left;
      outline: 2px solid transparent;
      transition: outline 300ms ease;
      box-shadow: 1px 3px 0 var(--base-gray-300);

      &:hover {
        outline: 2px solid var(--base-gray-400);
      }
      & h3 {
        margin-top: 1rem;
      }

      & > p {
        margin-top: 0.5rem;
        font: var(--text-sm);
        color: var(--base-gray-500);
      }
    }
  }
}
